a{text-decoration: none;}
.inner{max-width:1200px;margin:0 auto;}
.main-header{height:50px;background:#0b6b68;width:100%;position:fixed;z-index: 100;}
.main-header .logo{color:#fff;font-size:18px;line-height:50px;padding-left:20px;}
.main-header .manager{float:right;line-height:50px;color:#fff;padding-right:10px;}
.main-header .manager .glyphicon{margin-right:10px;}

.content-wrapper{padding:70px 10px 20px 10px;}
.content .listBox{border:1px solid #efefef;border-radius: 8px;padding:15px 15px 78px 15px;}
.content .listBox .list{border-bottom:1px solid #efefef;padding:16px 0;}
.content .listBox .list .txt h2{font-size:16px;line-height:30px;font-weight:bold;}
.content .listBox .list .txt p{line-height:26px;}
.content .listBox .list .txt span{font-weight:bold;}
.content .listBox .list .right-btn{padding-top:16px;}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #00726a;
    border-color: #00726a;}
.pagination>li>a, .pagination>li>span{color: #00877f;}
.pagination{}
/*.content ul li .row{margin-left:0;margin-right:0;}*/

.main-footer{text-align:center;background:#efefef;padding:20px 0;}
.main-footer a span{font-weight:bold;}
.main-sidebar .arrow-down{width:10px;height:6px;background:url(../images/arrow_down.png) no-repeat;}
