radio {
	position: relative;
}

input[type="radio"] {
	display: none;
}

input[type="radio"]:checked+label::before {
	background-color: #1195fe;
	border: 4px #ccc solid;
}

div.container {
	width: 62%;
	background-color: #fff;
	margin: 0 auto;
	padding-bottom: 30px;
	min-height: 680px;
	font-family: "Lucida Grande", sans-serif;
}

.form-header-group {
	border-top: 0;
	padding: 24px 0px 24px 0px;
	margin: 12px 12px 12px 12px;
	font-family: "Lucida Grande", sans-serif;
	text-align: left;
	background-attachment: scroll;
	background-position: center top;
	background-color: #f9f9f9;
}
.form-header-group_2{
	border-top: 0;
	padding: 0px 0px 0px 53px;
	font-family: "Lucida Grande", sans-serif;
	text-align: left;
	background-attachment: scroll;
	background-position: center top;
}
.form-header-group_3{
	border-top: 0;
	padding: 10px 0px 24px 0px;
	font-family: "Lucida Grande", sans-serif;
	text-align: left;
	background-attachment: scroll;
	background-position: center top;
}
.form-header-group .form-header {
    color: #555555;
}
h1.form-header {
	text-align: center;
    font-size: 2.143em;
}
.form-header {
    margin: 0px;
}
.form-header-group .form-subHeader {
    color: #6f6f6f;
}
.form-subHeader {
	
    border-top: none;
    font-size: 1.071em;
    line-height: 1.5em;
    font-style: normal;
	margin-left: 15px;
	margin-right: 15px;
}
.item_label::before {
	content: "";
	display: inline-block;
	width: 18px;
	height: 18px;
	background: #EEE;
	vertical-align: middle;
	-webkit-border-radius: 50%;
	margin-right: 10px;
	-webkit-box-sizing:border-box;
  -webkit-transition:background ease-in .5s
}
radio{
	position: relative;
}
input[type="radio"]{
	display: none;
}
input[type="radio"]:checked+label::before{
	background-color: #1195fe;
	border: 4px #ccc solid;
}

.problem{
	margin-top: 15px;
	font-size: 15px;
	font-weight: 700;
	color: #555555;
}
.answer{
	margin-top: 10px;
	color: #555555;
}
.sub{
	display:block;
	margin:0 auto;
	width: 50%;
	height: 44px;
}
.essentialInformation{
	margin: 12px 12px 12px 12px;
	width: 97%;
	display: inline-block;
	border-bottom: 1px solid #a5a5a5;
	min-height: 100px;
}
.classA ,.layui-input{
	border-width:0!important;
	border-bottom: 1px dashed #000000!important;
	width: 60%!important;
	display: inline!important;
}
.essentialInformation_form{
	display: inline-block;
	width: 30%;
	margin: 1%;
}
h2{
	width: 100%;
	display: inline-block;
}
h2 button{
	float: right;
}
.layui-form-label {
	width: 100px!important;
}
