<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hx.hxjob.dao.LoginMapper">
    <select id="getSystemUserByName" parameterType="java.lang.String" resultMap="systemUserMap">
        select tu.id,
        tu.`user_name`,
        tu.`password`,
        tu.real_name,
        tu.mobile,
        tu.status,
        tu.createtime,
        tu.updatetime,
        tu.last_logintime
        from system_user tu
        where user_name = #{userName}
    </select>

    <select id="getSystemUserByUserid" parameterType="java.lang.String" resultMap="systemUserMap">
        select tu.id,
        tu.`user_name`,
        tu.`password`,
        tu.real_name,
        tu.mobile,
        tu.status,
        tu.createtime,
        tu.updatetime,
        tu.last_logintime
        from system_user tu
        where tu.id = #{userid}
    </select>

    <resultMap type="com.hx.hxjob.model.SystemUser" id="systemUserMap">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="real_name" jdbcType="VARCHAR" property="realName"/>
        <result column="mobile" jdbcType="VARCHAR" property="mobile"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <result column="createtime" jdbcType="VARCHAR" property="createtime"/>
        <result column="updatetime" jdbcType="VARCHAR" property="updatetime"/>
        <result column="last_logintime" jdbcType="VARCHAR" property="lastLogintime"/>

    </resultMap>

    <update id="updateSystemUserLastLoginTime" parameterType="java.lang.String">
        update system_user
        set last_logintime = now()
        where user_name = #{userName}
    </update>


    <select id="getRoleResources" parameterType="java.lang.String" resultMap="role">
        SELECT tsr.id                AS roleid,
        tsr.role_name,
        tsyp.id               AS resourcesid,
        tsyp.icon,
        tsyp.resources_name,
        tsyp.resources,
        tsyp.`resources_code`,
        tsyc.id               AS resourcesid1,
        tsyc.resources_name   AS resources_name1,
        tsyc.resources        AS resources1,
        tsyc.`resources_code` AS resources_code1
        FROM system_user_role tsur
        JOIN system_role tsr ON tsur.roleid = tsr.id
        JOIN system_role_resources tsrr ON tsr.id = tsrr.roleid
        LEFT JOIN system_resources tsyp ON tsrr.resourcesid = tsyp.id
        LEFT JOIN system_resources tsyc ON tsyp.id = tsyc.parentid
        WHERE tsur.userid = #{userId}
        AND tsr.status = 'ENABLE'
        AND tsyp.status = 'ENABLE'
        AND tsyc.status = 'ENABLE'
        AND tsyp.type = 'MENU'
        AND (tsyp.parentid IS NULL OR tsyp.parentid = 0)
        AND tsyc.`id` IN (SELECT resourcesid FROM system_role_resources WHERE roleid = tsur.`roleid`)
        ORDER BY tsyp.sort, tsyc.sort;
    </select>

    <resultMap type="com.hx.hxjob.model.SystemRole" id="role">
        <id column="roleid" jdbcType="BIGINT" property="id"/>
        <result column="role_name" jdbcType="VARCHAR" property="roleName"/>
        <collection property="systemResources" ofType="com.hx.hxjob.model.SystemResources">
            <id column="resourcesid" jdbcType="BIGINT" property="id"/>
            <result column="icon" jdbcType="VARCHAR" property="icon"/>
            <result column="resources_name" jdbcType="VARCHAR" property="resourcesName"/>
            <result column="resources" jdbcType="VARCHAR" property="resources"/>
            <result column="resources_code" jdbcType="VARCHAR" property="resourcesCode"/>
            <collection property="children" ofType="com.hx.hxjob.model.SystemResources">
                <id column="resourcesid1" jdbcType="BIGINT" property="id"/>
                <result column="resources_name1" jdbcType="VARCHAR" property="resourcesName"/>
                <result column="resources1" jdbcType="VARCHAR" property="resources"/>
                <result column="resources_code1" jdbcType="VARCHAR" property="resourcesCode"/>
            </collection>
        </collection>
    </resultMap>

    <update id="changePassword" parameterType="com.hx.hxjob.model.SystemUser">
        update system_user
        set password = #{password}
        where id = #{id}
    </update>
    <select id="editPassword" parameterType="com.hx.hxjob.model.Member">
        update member
        set password = #{password}
        where id = #{id}
    </select>
</mapper>