<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hx.hxjob.dao.PositionMapper">
    <sql id="positionField">
            tp.id,
            tp.code,
            tp.title,
            tp.type,
            tp.address,
            tp.department,
            tp.rindex,
            tp.ishot,
            tp.duty,
            tp.requirement,
            tp.contact,
            tp.remark,
            date_format(tp.createtime, '%Y-%m-%d %H:%i:%s') as createtime,
            date_format(tp.updatetime, '%Y-%m-%d %H:%i:%s') as updatetime,
            date_format(tp.publishtime, '%Y-%m-%d')         as publishtime,
            date_format(tp.shelftime, '%Y-%m-%d %H:%i:%s')  as shelftime,
            tp.isstar,
            tor.id                                          as torid,
            tor.fullname,
            tor.shortname,
            tor.logo,
            tor.brief,
            tor.description,
            tor.city,
            tor.industry,
            tor.tags,
            tor.salary,
            tor.grade,
            tor.score,
            tc.name                                         as cityname,
            ti.name                                         as industryname,
            tu.real_name
    </sql>
    <resultMap type="com.hx.hxjob.model.Position" id="positionMap">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="orgcode" jdbcType="VARCHAR" property="orgcode"/>
        <result column="code" jdbcType="VARCHAR" property="code"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="workplace" jdbcType="VARCHAR" property="workplace"/>
        <result column="job_salary" jdbcType="VARCHAR" property="jobSalary"/>
        <result column="department" jdbcType="VARCHAR" property="department"/>
        <result column="rindex" jdbcType="VARCHAR" property="rindex"/>
        <result column="ishot" jdbcType="VARCHAR" property="ishot"/>
        <result column="duty" jdbcType="VARCHAR" property="duty"/>
        <result column="requirement" jdbcType="VARCHAR" property="requirement"/>
        <result column="position_people_number" jdbcType="BIGINT" property="positionPeopleNumber"/>
        <result column="mon_salary" jdbcType="VARCHAR" property="monSalary"/>
        <result column="experience_require" jdbcType="VARCHAR" property="experienceRequire"/>
        <result column="education_require" jdbcType="VARCHAR" property="educationRequire"/>
        <result column="pos_brief" jdbcType="VARCHAR" property="posBrief"/>
        <result column="pos_type" jdbcType="VARCHAR" property="posType"/>
        <result column="contact" jdbcType="VARCHAR" property="contact"/>
        <result column="page_view" jdbcType="INTEGER" property="pageView"/>
        <result column="createtime" jdbcType="VARCHAR" property="createtime"/>
        <result column="updatetime" jdbcType="VARCHAR" property="updatetime"/>
        <result column="publishtime" jdbcType="VARCHAR" property="publishtime"/>
        <result column="shelftime" jdbcType="VARCHAR" property="shelftime"/>
        <result column="isstar" jdbcType="VARCHAR" property="isstar"/>
        <result column="real_name" jdbcType="VARCHAR" property="realName"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="posSaveCount" jdbcType="INTEGER" property="posSaveCount"/>
        <association property="organization" javaType="com.hx.hxjob.model.Organization">
            <id column="torid" jdbcType="BIGINT" property="id"/>
            <result column="fullname" jdbcType="VARCHAR" property="fullname"/>
            <result column="shortname" jdbcType="VARCHAR" property="shortname"/>
            <result column="orgcode" jdbcType="VARCHAR" property="code"/>
            <result column="logo" jdbcType="VARCHAR" property="logo"/>
            <result column="brief" jdbcType="VARCHAR" property="brief"/>
            <result column="description" jdbcType="VARCHAR" property="description"/>
            <result column="city" jdbcType="VARCHAR" property="city"/>
            <result column="cityname" jdbcType="VARCHAR" property="cityname"/>
            <result column="industry" jdbcType="VARCHAR" property="industry"/>
            <result column="industryname" jdbcType="VARCHAR" property="industryname"/>
            <result column="tags" jdbcType="VARCHAR" property="tags"/>
            <result column="salary" jdbcType="VARCHAR" property="salary"/>
            <result column="grade" jdbcType="VARCHAR" property="grade"/>
            <result column="score" jdbcType="VARCHAR" property="score"/>
        </association>
    </resultMap>
    <select id="getPositionPage" resultType="com.hx.hxjob.model.Position" resultMap="positionMap">
        select tp.page_view,tp.workplace,tp.job_salary,
        <include refid="positionField"/>,
        (SELECT COUNT(1) FROM save_position_member spm WHERE tp.code = spm.position_code) AS posSaveCount
        from `position` tp join organization tor on tp.orgcode = tor.code
        left join city tc on tp.address = tc.id
        left join industry ti on tor.industry = ti.id
        left join system_user tu on tu.id = tp.creater
        where 1=1
        <if test="title!='' and title!=null">
            and tp.title like concat("%",#{title},"%")
        </if>
        <if test="orgcode!='' and orgcode!=null">
            and tp.orgcode = #{orgcode}
        </if>
        <if test="type!='' and type!=null">
            and tp.type = #{type}
        </if>
        <if test="industry!='' and industry!=null">
            and tor.industry = #{industry}
        </if>
        <if test="city!='' and city!=null">
            and tp.address = #{city}
        </if>
        <if test="ishot!='' and ishot!=null">
            and tp.ishot = #{ishot}
        </if>
        <if test="isstar!='' and isstar!=null">
            and tp.isstar = #{isstar}
        </if>
        order by ishot desc,publishtime desc,createtime desc
        <if test="offset!=null and offset!=''">
            limit ${offset},${limit}
        </if>
    </select>
    <select id="getPositionPageCount" parameterType="java.util.Map" resultType="int">
        select count(1)
        from position tp join organization tor on tp.orgcode = tor.code
        where 1=1
        <if test="title!='' and title!=null">
            and tp.title like concat("%",#{title},"%")
        </if>
        <if test="orgcode!='' and orgcode!=null">
            and tp.orgcode = #{orgcode}
        </if>
        <if test="type!='' and type!=null">
            and tp.type = #{type}
        </if>
        <if test="industry!='' and industry!=null">
            and tor.industry = #{industry}
        </if>
        <if test="city!='' and city!=null">
            and tor.city = #{city}
        </if>
        <if test="ishot!='' and ishot!=null">
            and tp.ishot = #{ishot}
        </if>
        <if test="isstar!='' and isstar!=null">
            and tp.isstar = #{isstar}
        </if>
    </select>
    <insert id="addPosition" parameterType='com.hx.hxjob.model.Position' useGeneratedKeys="true"
            keyProperty="id">
        insert into `position`(
        orgcode, `code`, title, type, address, workplace, department, rindex, ishot, pos_brief, duty,
        requirement, job_salary,position_people_number, mon_salary,experience_require, education_require, pos_type,
        updatetime,contact, creater, createtime, publishtime, shelftime, isstar, remark)
        values (#{orgcode}, #{code}, #{title}, #{type}, #{address}, #{workplace}, #{department}, #{rindex}, #{ishot}, #{posBrief},
        #{duty}, #{requirement}, #{jobSalary}, #{positionPeopleNumber}, #{monSalary}, #{experienceRequire}, #{educationRequire}, #{posType},
        now(), #{contact}, ${creater}, now(), #{publishtime}, #{shelftime}, #{isstar}, #{remark})
    </insert>

    <select id="getPositionById" resultType="com.hx.hxjob.model.Position">
        select
        <include refid="positionField"/>,
        tp.position_people_number,tp.mon_salary,experience_require,education_require,pos_type,tp.pos_brief,tp.job_salary,tp.workplace
        from `position` tp join organization tor on tp.orgcode = tor.code
        left join city tc on tp.address = tc.id
        left join industry ti on tor.industry = ti.id
        left join system_user tu on tu.id = tp.createtime
        where tp.id = #{id}
    </select>
    <update id="editPosition" parameterType='com.hx.hxjob.model.Position'>
        update `position`
        set orgcode            = #{orgcode},
        title                  = #{title},
        `type`                 = #{type},
        address                = #{address},
        workplace              = #{workplace},
        department             = #{department},
        rindex                 = #{rindex},
        ishot                  = #{ishot},
        pos_brief              = #{posBrief},
        duty                   = #{duty},
        requirement            = #{requirement},
        job_salary             = #{jobSalary},
        position_people_number = #{positionPeopleNumber},
        mon_salary             = #{monSalary},
        experience_require     = #{experienceRequire},
        education_require      = #{educationRequire},
        pos_type               = #{posType},
        isstar                 = #{isstar},
        publishtime            = #{publishtime},
        shelftime              = #{shelftime},
        contact                = #{contact},
        remark                 = #{remark},
        updater                = #{updater},
        updatetime             = #{updatetime}
        where id = #{id}
    </update>
    <delete id="deletePosition">
        delete
        from `position`
        where id = #{posiitonid}
    </delete>
    <select id="getPositionList" resultType="com.hx.hxjob.model.Position">
       select code
        from position
    </select>
    <select id="getOrgOfList" resultType="java.lang.String">
        select code
        from organization
    </select>
    <insert id="insertJobExcel">
        insert into position (code, type, address, orgcode, department, title,pos_brief, duty,
        requirement,workplace,job_salary, contact, remark, publishtime,
        shelftime, isstar)values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.code}, #{item.type}, #{item.address}, #{item.orgcode}, #{item.department},
            #{item.title},#{item.posBrief} , #{item.duty},
            #{item.requirement},#{item.workplace} ,#{item.jobSalary} , #{item.contact},
            #{item.remark}, #{item.publishtime}, #{item.shelftime},
            #{item.isstar})
        </foreach>
    </insert>
    <select id="getOrgList" resultType="com.hx.hxjob.model.Organization">
        select code
        from organization
    </select>
    <select id="getLastPosCode" resultType="java.lang.String">
        select `code`
        from position
        order by id desc
        limit 0,1
    </select>
    <select id="getPositionByTitle" resultType="java.lang.String">
        select title
        from position
        where title = #{sc}
    </select>
    <select id="getHotPosKeyWords" parameterType='java.lang.String' resultType="java.lang.String">
        select keywords
        from hot_position
        where id = #{id}
    </select>
    <select id="getPcPositions" parameterType="java.util.Map" resultMap="positionMap">
        select
        <include refid="positionField"/>
        from `position` tp join organization tor on tp.orgcode = tor.code
        left join city tc on tp.address = tc.id
        left join industry ti on tor.industry = ti.id
        left join system_user tu on tu.id = tp.creater
        where now() > tp.publishtime and tp.shelftime >now()
        <if test="type!='' and type!=null">
            and tp.type = #{type}
        </if>
        <if test="industry!='' and industry!=null">
            and tor.industry = #{industry}
        </if>
        <if test="city!='' and city!=null">
            and tp.address = #{city}
        </if>
        <if test="searchContent!=null and searchContent!=''">
            and
            (
            instr(tp.title,#{searchContent}) > 0
            or
            instr(tor.fullname,#{searchContent}) > 0
            or
            instr(tor.shortname,#{searchContent}) > 0
            <if test='hotPosKeyWordsArr!=null'>
                <foreach collection="hotPosKeyWordsArr" item='word'>
                    or instr(tp.title,#{word}) > 0
                    or instr(tor.fullname,#{word}) > 0
                    or instr(tor.shortname,#{word}) > 0
                </foreach>
            </if>
            )
        </if>
        order by ishot desc,publishtime desc,createtime desc
        limit ${pageStart},${pageSize}
    </select>
    <select id="getPcPositionCount" resultType="int">
        select count(1)
        from `position` tp join organization tor on tp.orgcode = tor.code
        left join city tc on tp.address = tc.id
        left join industry ti on tor.industry = ti.id
        left join system_user tu on tu.id = tp.creater
        where now() > tp.publishtime and tp.shelftime >now()
        <if test="type!='' and type!=null">
            and tp.type = #{type}
        </if>
        <if test="industry!='' and industry!=null">
            and tor.industry = #{industry}
        </if>
        <if test="city!='' and city!=null">
            and tp.address = #{city}
        </if>
        <if test="searchContent!=null and searchContent!=''">
            and
            (
            instr(tp.title,#{searchContent}) > 0
            or
            instr(tor.fullname,#{searchContent}) > 0
            or
            instr(tor.shortname,#{searchContent}) > 0
            <if test='hotPosKeyWordsArr!=null'>
                <foreach collection="hotPosKeyWordsArr" item='word'>
                    or instr(tp.title,#{word}) > 0
                    or instr(tor.fullname,#{word}) > 0
                    or instr(tor.shortname,#{word}) > 0
                </foreach>
            </if>
            )
        </if>
        order by tp.ishot desc,tp.publishtime desc,tp.createtime desc
    </select>
    <select id="getPcPositionsHot" parameterType="java.util.Map" resultMap="positionMap">
        select
        <include refid="positionField"/>,
        (SELECT COUNT(1)
        FROM save_position_member spm
        WHERE tp.code = spm.position_code) AS hotCount
        from `position` tp join organization tor on tp.orgcode = tor.code
        left join city tc on tp.address = tc.id
        left join industry ti on tor.industry = ti.id
        left join system_user tu on tu.id = tp.creater
        where now() > tp.publishtime and tp.shelftime >now()
        <if test="type!='' and type!=null">
            and tp.type = #{type}
        </if>
        <if test="industry!='' and industry!=null">
            and tor.industry = #{industry}
        </if>
        <if test="city!='' and city!=null">
            and tor.city = #{city}
        </if>
        <if test="searchContent!=null and searchContent!=''">
            and
            (
            instr(tp.title,#{searchContent}) > 0
            or
            instr(tor.fullname,#{searchContent}) > 0
            or
            instr(tor.shortname,#{searchContent}) > 0
            <if test='hotPosKeyWordsArr!=null'>
                <foreach collection="hotPosKeyWordsArr" item='word'>
                    or instr(tp.title,#{word}) > 0
                    or instr(tor.fullname,#{word}) > 0
                    or instr(tor.shortname,#{word}) > 0
                </foreach>
            </if>
            )
        </if>
        order by hotCount desc
        limit ${pageStart},${pageSize}
    </select>

    <select id="getPcPositionsCount" resultType="int">
        select count(1)
        from `position` tp join organization tor on tp.orgcode = tor.code
        left join city tc on tp.address = tc.id
        left join industry ti on tor.industry = ti.id
        left join system_user tu on tu.id = tp.creater
        where now() > tp.publishtime and tp.shelftime >now()
        <if test="type!='' and type!=null">
            and tp.type = #{type}
        </if>
        <if test="industry!='' and industry!=null">
            and tor.industry = #{industry}
        </if>
        <if test="city!='' and city!=null">
            and tor.city = #{city}
        </if>
        <if test="searchContent!=null and searchContent!=''">
            and
            (
            instr(tp.title,#{searchContent}) > 0
            or
            instr(tor.fullname,#{searchContent}) > 0
            or
            instr(tor.shortname,#{searchContent}) > 0
            <if test='hotPosKeyWordsArr!=null'>
                <foreach collection="hotPosKeyWordsArr" item='word'>
                    or instr(tp.title,#{word}) > 0
                    or instr(tor.fullname,#{word}) > 0
                    or instr(tor.shortname,#{word}) > 0
                </foreach>
            </if>
            )
        </if>
    </select>
    <select id="posIndexDatas" parameterType="java.util.Map" resultMap="positionMap">
        select
        <include refid="positionField"/>,
        (SELECT COUNT(1)
        FROM save_position_member spm
        WHERE tp.code = spm.position_code) AS hotCount
        from `position` tp join organization tor on tp.orgcode = tor.code
        left join city tc on tp.address = tc.id
        left join industry ti on tor.industry = ti.id
        left join system_user tu on tu.id = tp.creater
        where now() > tp.publishtime and tp.shelftime >now()
        order by hotCount desc limit 0,3;
    </select>
    <select id="getPositionByCode" parameterType="java.lang.String" resultMap="positionMap">
        select
        <include refid="positionField"/>,
        tp.orgcode,tp.position_people_number,tp.mon_salary,experience_require,education_require,pos_type,pos_brief,tp.workplace,tp.job_salary
        from `position` tp join organization tor on tp.orgcode = tor.code
        left join city tc on tp.address = tc.id
        left join industry ti on tor.industry = ti.id
        left join system_user tu on tu.id = tp.creater
        where tp.code = #{code}
        and now() > tp.publishtime and tp.shelftime >now()
    </select>
    <select id="getPcHotPos" parameterType='java.util.Map' resultType="java.util.Map">
        select id, `name`, sort, date_format(createtime, "%Y-%m-%d %H:%i:%s") as createtime, keywords
        from hot_position
        where 1 = 1
        order by sort
    </select>
    <select id="getPositionByOrgCode" parameterType="java.lang.String" resultMap="positionMap">
        select
        <include refid="positionField"/>
        from `position` tp join organization tor on tp.orgcode = tor.code
        left join city tc on tp.address = tc.id
        left join industry ti on tor.industry = ti.id
        left join system_user tu on tu.id = tp.creater
        where tp.orgcode = #{orgcode}
    </select>
    <select id="getAllPosByOrg" parameterType="java.lang.String" resultMap="positionMap">
        select
        <include refid="positionField"/>
        from `position` tp join organization tor on tp.orgcode = tor.code
        left join city tc on tp.address = tc.id
        left join industry ti on tor.industry = ti.id
        left join system_user tu on tu.id = tp.creater
        where tp.orgcode = #{orgCode}
    </select>
</mapper>