@charset "utf-8";
.a_tab .banner {
    text-align:center
}
.a_tab .banner img {
    width:16rem;
    height:4rem
}
.a_tab .tab_head {
    overflow:auto;
    font-size:.75rem;
    background:#fff;
    border-bottom:1px solid #f2f2f2
}
.a_tab .tab_head .tab_box {
    width:auto;
    padding-left:.6rem;
    height:2.25rem;
    line-height:2.25rem;
    white-space:nowrap
}
.a_tab .tab_head a {
    padding-bottom:.55rem;
    margin-right:1.2rem;
    color:#666;
    text-align:center
}
.a_tab .tab_head a:last-child {
    margin-right:.6rem
}
.a_tab .tab_head a.cur {
    color:#474747;
    font-weight:700;
    border-bottom:.125rem solid #0ab76d;
    height:1.875rem;
    line-height:1.975rem
}
.a_tab .tab_cont .cont {
    display:none
}
.a_tab .tab_cont .cont_cur {
    display:block
}
.qa_box {
    padding:.5rem;
    background:#fff;
    color:#333
}
.qa_box .avatar {
    float:left
}
.qa_box .cont {
    overflow:hidden
}
.qa_box a {
    display:block
}
.qa_box .avatar img {
    width:2rem;
    height:2rem;
    margin-right:.5rem
}
.qa_box .cont .interest_info img {
    margin-right:-.2rem;
    width:.875rem;
    height:.9rem;
    border-radius:.5rem
}
.qa_box .cont .interest_info img:last-child {
    margin-right:0
}
.qa_box .question .q_tit {
    font-size:.6rem;
    overflow:hidden;
    color:#333
}
.qa_box .cont .arrow {
    width:.9rem;
    height:.9rem;
    float:right
}
.qa_box .cont .arrow i {
    width:.3rem;
    height:.3rem;
    border-right:.05rem solid #bbb;
    border-bottom:.05rem solid #bbb;
    -webkit-transform:rotate(-45deg);
    display:block;
    margin-top:.275rem;
    margin-left:.35rem
}
.qa_head .avatar img {
    width:3rem;
    height:3rem
}
.qa_head .cont {
    padding-top:.4rem
}
.qa_head .cont .tit {
    font-size:.75rem
}
.qa_head .cont .info {
    font-size:.5rem;
    margin-top:.5rem
}
.qa_head .cont .info .intro {
    float:left
}
.qa_head .cont .info .a_info {
    font-size:.5rem;
    color:#999;
    overflow:hidden;
    text-align:right
}
.qa_head .cont .info .a_info .arrow {
    margin-top:-.05rem
}
.qa_head .cont .info .a_info .a_intro {
    overflow:hidden
}
.qa_info {
    margin-top:.375rem
}
.qa_info .cont .answer {
    margin-top:.5rem;
    padding:.5rem;
    background:#f5f5f5;
    border:1px solid #e2e2e2
}
.qa_info .cont .answer .a_avatar {
    float:left;
    margin-right:.5rem
}
.qa_info .cont .answer .a_avatar img {
    width:1.375rem;
    height:1.375rem;
    border-radius:1rem
}
.qa_info .cont .answer .a_avatar .bird {
    font-size:.45rem;
    color:#fff;
    width:1rem;
    height:.55rem;
    line-height:.6rem;
    background:#f77221;
    display:block;
    border-radius:.1rem;
    text-align:center;
    margin:.1rem auto 0
}
.qa_info .cont .answer .a_info {
    font-size:.6rem;
    color:#666;
    overflow:hidden
}
.qa_info .cont .a_members {
    margin-top:.375rem;
    font-size:.45rem;
    color:#999
}
.qa_info .cont .a_members .members_info {
    text-align:right
}
.qa_info .cont .a_members .members_info span {
    margin-top:.1rem
}
.qa_info .cont .a_members .members_info img,.qa_info .cont .a_members .members_info span {
    display:inline-block;
    vertical-align:middle
}
.qa_info .cont .a_members .members_info .answer_no {
    margin-right:.25rem
}
.qa_info .cont .a_members .members_info .interesting {
    margin-right:.625rem
}
.qa_y_a {
    margin-top:.375rem
}
.qa_y_a .cont .infos {
    margin-top:.65rem;
    font-size:.45rem;
    color:#999
}
.qa_y_a .cont .infos .time {
    float:left;
    line-height:.855rem
}
.qa_y_a .cont .infos .interest_info {
    overflow:hidden;
    text-align:right;
    margin-right:.9rem
}
.qa_y_a .cont .infos .interest_info img,.qa_y_a .cont .infos .interest_info span {
    display:inline-block;
    vertical-align:middle
}
.qa_y_a .cont .infos .interest_info span {
    margin-right:.5rem
}
.qa_y_a .cont .a_box {
    margin-top:.4rem;
    border-top:1px solid #cfcfcf;
    padding-top:.4rem
}
.qa_y_a .cont .a_box .answer_tip {
    text-align:right;
    overflow:hidden;
    font-size:.45rem;
    color:#999
}
.qa_y_a .cont .a_box .answer_tip em {
    font-size:.6rem;
    color:#66a503;
    display:inline-block;
    margin-left:.5rem
}
.qa_info .cont .answer .a_main {
    overflow:hidden
}
.qa_info .cont .answer .atime {
    color:#999;
    font-size:.5rem;
    text-align:right
}
.fright {
    float:right
}
aside.slide_menu {
    z-index:1;
    left:0;
    top:0;
    width:100%;
    font-size:16px;
    background-color:#7cb228
}
aside.slide_menu span {
    height:35px;
    display:block;
    padding-left:15px;
    padding-top:9px;
    border-bottom:1px solid #395b04;
    padding-right:30%
}
aside.slide_menu a,aside.slide_menu p {
    height:40px;
    display:block;
    color:#fff;
    line-height:40px;
    padding-left:20px;
    border-top:1px solid #99d738;
    border-bottom:1px solid #5d900f;
    outline:0
}
aside.slide_menu span a.fright {
    color:#fff;
    padding-right:10px;
    border-top:0;
    border-bottom:0;
    height:35px;
    line-height:35px;
    position:relative;
    top:-5px
}
aside.slide_menu a.current,aside.slide_menu p.current {
    background-color:#6b9c1e
}
aside.slide_menu a.mynews {
    overflow:hidden;
    position:relative
}
aside.slide_menu a.mynews i {
    position:absolute;
    height:16px;
    line-height:16px;
    text-align:center;
    padding:0 5px;
    top:11px;
    left:100px;
    font-size:12px;
    background-color:#e61e13;
    border-radius:30px;
    color:#fff
}
aside.slide_menu span a i {
    display:inline-block;
    height:0;
    line-height:0;
    overflow:hidden;
    border-width:5px 5px 0;
    border-style:solid;
    border-color:#fff transparent transparent;
    vertical-align:2px
}
aside.slide_menu a.login_out {
    padding-right:30%
}
aside.slide_menu a.login_out em {
    color:#b7d494;
    width:50%;
    height:28px;
    display:inline-block;
    position:relative;
    top:0
}
.slide_menu a.login_out .qiandao {
    font-size:16px;
    padding:0 16px;
    color:#fff;
    border:1px solid #fff;
    display:inline-block;
    height:30px;
    line-height:30px;
    border-radius:2px;
    position:relative;
    top:5px;
    float:right;
    margin-right:10px
}
.slide_menu a.login_out .qiandao.none {
    border:none;
    color:#b7d494;
    top:7px;
    padding:0;
    position:relative
}
.slide_menu a.login_out em.jifen {
    width:4em;
    overflow:hidden;
    height:28px;
    position:relative;
    top:3px
}
.slide_menu a.login_out em.add {
    font-size:16px;
    color:#fff;
    position:absolute;
    display:inline-block;
    width:80px;
    right:0;
    right:-16px;
    opacity:0
}
.a-fadein {
    -webkit-animation:fadein 1.2s ease forwards;
    -moz-animation:fadein 1.2s ease forwards;
    position:absolute
}
@-webkit-keyframes fadein {
    0% {
        opacity:0
    }
    100% {
        opacity:1;
        top:-150%
    }
}@-moz-keyframes fadein {
     0% {
         opacity:0
     }
     100% {
         opacity:1;
         top:-150%
     }
 }@keyframes fadein {
      0% {
          opacity:0
      }
      100% {
          opacity:1;
          top:-150%
      }
  }body {
       overflow-x:hidden;
       min-height:100%
   }
body {
    background:#f3f3f3
}
body .main {
    padding:0 8px
}
body .beirui {
    overflow-x:hidden
}
body .ease {
    -webkit-transition:all .2s ease;
    -moz-transition:all .2s ease;
    -ms-transition:all .2s ease;
    -o-transition:all .2s ease;
    transition:all .2s ease
}
body .show {
    -webkit-transform:translate3d(70%,0,0);
    -moz-transform:translate3d(70%,0,0);
    -ms-transform:translate3d(70%,0,0);
    -o-transform:translate3d(70%,0,0);
    transform:translate3d(70%,0,0);
    z-index:100;
    overflow-x:hidden
}
body .br_left {
    z-index:1;
    height:100%;
    position:absolute;
    left:0;
    top:0;
    overflow-y:auto;
    width:100%;
    background-color:#7cb228;
    display:none;
    position:fixed
}
body .br_main {
    position:relative;
    z-index:2;
    left:0;
    margin-left:0;
    top:0;
    width:100%;
    background:#f3f3f3
}
body .br_main.show {
    box-shadow:-20px 0 50px rgba(0,0,0,.3);
    -webkit-box-shadow:-20px 0 50px rgba(0,0,0,.3);
    -moz-box-shadow:-20px 0 50px rgba(0,0,0,.3);
    -o-box-shadow:-20px 0 50px rgba(0,0,0,.3);
    -ms-box-shadow:-20px 0 50px rgba(0,0,0,.3)
}
body aside.slide_menu {
    height:100%;
    width:100%;
    position:absolute;
    background-color:#7cb228
}
body .comments_submit {
    border:none;
    padding-bottom:10px
}
body .comments_submit .tip {
    padding:0
}
body .comments_submit .inbox {
    margin:0
}
body .br_left {
    z-index:1;
    height:100%;
    position:absolute;
    left:0;
    top:0;
    overflow-y:auto;
    width:100%;
    background-color:#7cb228;
    display:none;
    position:fixed
}
.wd_reply_form {
    margin:0 .5rem
}
.wd_reply_form .tags {
    overflow:hidden
}
.wd_reply_form .tags ul {
    width:102%;
    margin-top:-.25rem
}
.wd_reply_form .tags ul a {
    display:inline-block
}
.wd_reply_form .tags ul li {
    float:left;
    height:1rem;
    line-height:1rem;
    font-size:.5rem;
    color:#999;
    border:1px solid #e2e2e2;
    border-radius:.05rem;
    white-space:nowrap;
    padding:0 .25rem;
    margin:.25rem .25rem 0 0
}
.wd_reply_form .tags ul li a {
    color:#999
}
.wd_reply_form .tags_1 ul li {
    color:#2c84cc
}
.wd_reply_form .quesion {
    position:relative;
    margin-top:.5rem
}
.wd_reply_form .quesion h3 {
    line-height:.9rem;
    font-size:.75rem;
    color:#333;
    font-weight:400
}
.wd_reply_form .quesion p {
    line-height:.75rem;
    font-size:.6rem;
    color:#999;
    margin-top:.2rem
}
.wd_reply_form .quesion .btn_showmore {
    position:absolute;
    z-index:1;
    right:0;
    bottom:0;
    line-height:.75rem;
    font-size:.6rem;
    color:#999;
    background:url(../images/i_arrow_down.png) no-repeat right center;
    background-size:.35rem;
    padding-right:.4rem;
    display:block
}
.wd_reply_form .form {
    margin-top:1rem
}
.wd_reply_form .form strong {
    line-height:1.2rem;
    font-size:.75rem;
    color:#666;
    font-weight:400
}
.wd_reply_form .form .inbox {
    border:1px solid #7cb228;
    border-radius:.25rem;
    padding:.3rem
}
.wd_reply_form .form textarea {
    height:11rem;
    line-height:160%;
    font-size:.5rem;
    background:0 0;
    border:0;
    border-radius:.25rem;
    overflow-y:auto
}
.wd_reply_form .btns {
    position:relative;
    height:2rem;
    margin-top:2.25rem
}
.wd_reply_form .btns label {
    float:left;
    height:.85rem;
    margin-top:.575rem
}
.wd_reply_form .btns label input {
    vertical-align:middle;
    display:none
}
.wd_reply_form .btns label i {
    width:.85rem;
    height:.85rem;
    background:url(../images/checkbox_default.png) no-repeat;
    background-size:contain;
    display:inline-block;
    vertical-align:middle
}
.wd_reply_form .btns label input:checked+i {
    background-image:url(../images/checkbox_checked.png)
}
.wd_reply_form .btns label span {
    height:.85rem;
    line-height:.85rem;
    font-size:.6rem;
    color:#333;
    vertical-align:middle;
    margin-left:.4rem
}
.wd_reply_form .btns a {
    position:absolute;
    z-index:1;
    left:50%;
    top:0;
    width:7.5rem;
    height:2rem;
    line-height:2rem;
    font-size:.75rem;
    text-align:center;
    color:#fff;
    background:#f38100;
    border-radius:.1rem;
    margin-left:-3.75rem;
    display:block
}
.wd_reply_form_userinfo {
    height:1rem;
    line-height:1rem;
    color:#999;
    font-size:.5rem;
    border-bottom:1px solid #e5e5e5;
    padding:.25rem .5rem;
    margin-top:.25rem
}
.wd_reply_form_userinfo img {
    float:left;
    width:1rem;
    height:1rem;
    border-radius:50%
}
.wd_reply_form_userinfo b {
    float:left;
    font-weight:400;
    margin-left:.25rem
}
.wd_reply_form_userinfo span {
    float:right
}
.wd_reply_form_btns {
    font-size:0;
    text-align:right;
    padding:.375rem .5rem
}
.wd_reply_form_btns .btn {
    width:3.2rem;
    height:1.2rem;
    line-height:1.2rem;
    font-size:.6rem;
    text-align:center;
    border:1px solid #fff;
    border-radius:.1rem;
    margin-left:.85rem;
    vertical-align:middle;
    display:inline-block
}
.wd_reply_form_btns .btn_gz {
    color:#7cb228;
    border-color:#7cb228
}
.wd_reply_form_btns .btn_gzed {
    color:#999;
    border-color:#999
}
.wd_reply_form_btns .btn_answer {
    color:#fff;
    background:#f38100;
    border-color:#f38100
}
.qa_det_box {
    border-top:1px solid #e5e5e5;
    padding:.5rem .5rem 0;
    background:#fff
}
.qa_det_box .avatar {
    float:left;
    margin-right:.5rem
}
.qa_det_box .avatar img {
    width:1.625rem;
    height:1.625rem;
    border-radius:1rem
}
.qa_det_box .avatar .bird {
    font-size:.45rem;
    color:#fff;
    width:1rem;
    height:.55rem;
    line-height:.6rem;
    background:#f77221;
    display:block;
    border-radius:.1rem;
    text-align:center;
    margin:.125rem auto 0
}
.qa_det_box .det_info {
    overflow:hidden
}
.qa_det_box .det_info .name {
    font-size:.6rem;
    color:#999
}
.qa_det_box .det_info .content {
    margin-top:.3rem;
    line-height:.825rem;
    font-size:.6rem;
    color:#333
}
.qa_det_box .det_info .specials {
    margin-top:.5rem;
    margin-bottom:.375rem
}
.qa_det_box .det_info .specials .time {
    font-size:.5rem;
    color:#999;
    float:right;
    height:1.05rem;
    line-height:1.05rem
}
.qa_det_box .det_info .specials .pro_comment {
    position:relative
}
.qa_det_box .det_info .specials .pro_comment .pro {
    padding:0 .8rem 0 .4rem;
    height:.94rem;
    line-height:.95rem;
    font-size:.6rem;
    color:#7cb228;
    border:1px solid #7cb228;
    border-radius:.05rem;
    position:absolute;
    display:inline-block;
    left:0
}
.qa_det_box .det_info .specials .pro_comment .pro .top {
    border-bottom:.225rem solid #7cb228;
    border-left:.175rem solid transparent;
    border-right:.175rem solid transparent;
    width:0;
    height:0;
    position:absolute;
    right:.225rem;
    top:.2rem
}
.qa_det_box .det_info .specials .pro_comment .pro .bottom {
    border-top:.225rem solid #7cb228;
    border-left:.175rem solid transparent;
    border-right:.175rem solid transparent;
    width:0;
    height:0;
    position:absolute;
    right:.225rem;
    bottom:.2rem
}
.qa_det_box .det_info .specials .pro_comment .up .top {
    border-bottom:.225rem solid #2f4e00
}
.qa_det_box .det_info .specials .pro_comment .up .bottom {
    border-top:.225rem solid #fff
}
.qa_det_box .det_info .specials .pro_comment .down .top {
    border-bottom:.225rem solid #fff
}
.qa_det_box .det_info .specials .pro_comment .down .bottom {
    border-top:.225rem solid #2f4e00
}
.qa_det_box .det_info .specials .pro_comment .comment {
    margin-left:3.5rem;
    font-size:.45rem;
    background:url(../images/i_comments.png) left center no-repeat;
    background-size:.875rem .825rem;
    padding-left:1.075rem;
    display:inline-block;
    height:1.05rem;
    line-height:1.05rem;
    color:#999
}
.qa_det_box .det_info .specials .pro_comment .comment em:last-child {
    display:none
}
.qa_det_box .det_info .comment_box {
    background:#f5f5f5;
    padding:0;
    margin:.375rem 0 0;
    position:relative
}
.qa_det_box .det_info .comment_box .box {
    border-bottom:1px solid #cfcfcf;
    padding:.25rem .5rem 0
}
.qa_det_box .det_info .comment_box .mycomment_box {
    border:0;
    border-bottom:.375rem solid #fff
}
.qa_det_box .det_info .comment_box .box .reply_top .time {
    float:right;
    line-height:1rem;
    font-size:.45rem;
    color:#999
}
.qa_det_box .det_info .comment_box .box .reply_top .a_reply {
    overflow:hidden;
    margin-right:.5rem;
    line-height:1rem;
    font-size:.6rem;
    color:#999
}
.qa_det_box .det_info .comment_box .box .reply_top .a_reply img {
    width:1rem;
    height:1rem;
    margin-right:.375rem;
    border-radius:1rem
}
.qa_det_box .det_info .comment_box .box .reply_top .a_reply img,.qa_det_box .det_info .comment_box .box .reply_top .a_reply span {
    display:inline-block;
    vertical-align:middle
}
.qa_det_box .det_info .comment_box .box .reply_cont {
    margin-top:.3rem;
    font-size:.6rem;
    color:#333;
    line-height:.925rem
}
.qa_det_box .det_info .comment_box .box .btns {
    margin-top:.75rem;
    font-size:.6rem;
    color:#999
}
.qa_det_box .det_info .comment_box .box .btns a {
    display:inline-block
}
.qa_det_box .det_info .comment_box .box .btns .report {
    float:right
}
.qa_det_box .det_info .comment_box .box .reply_box {
    display:none
}
.qa_det_box .det_info .comment_box .box .reply_text {
    margin-top:.25rem;
    border:1px solid #cfcfcf;
    font-size:.5rem;
    color:#999;
    background:#fff;
    border-radius:.05rem;
    padding:.25rem
}
.qa_det_box .det_info .comment_box .box .reply_text textarea {
    width:100%;
    border:0;
    min-height:2.5rem;
    overflow-y:hidden;
    font-family:Microsoft YaHei
}
.qa_det_box .det_info .comment_box .box .reply_btn {
    margin-top:.375rem;
    text-align:right;
    margin-bottom:.25rem
}
.qa_det_box .det_info .comment_box .box .reply_btn a {
    display:inline-block;
    line-height:1rem;
    font-size:.6rem;
    color:#999
}
.qa_det_box .det_info .comment_box .box .reply_btn .b_reply {
    width:2.25rem;
    height:1rem;
    color:#fff;
    margin-left:.5rem;
    background:#7cb228;
    text-align:center;
    border-radius:.05rem
}
.qa_det_box .det_info .comment_box .jiao {
    border-bottom:.375rem solid #f5f5f5;
    border-left:.3rem solid transparent;
    border-right:.3rem solid transparent;
    width:0;
    height:0;
    position:absolute;
    left:3.5rem;
    top:-.35rem
}
.qa_det_box .det_info .comment_box .change_comment_pages {
    font-size:.6rem;
    text-align:center;
    margin:.7rem auto 0
}
.qa_det_box .det_info .comment_box .change_comment_pages a {
    margin-right:.3rem;
    display:inline-block;
    color:#2c84cc
}
.qa_det_box .det_info .comment_box .change_comment_pages a:last-child {
    margin:0
}
.qa_det_box .det_info .comment_box .change_comment_pages a.cur {
    color:#979797
}
.reply_list .more {
    height:2.25rem;
    line-height:2.25rem;
    text-align:center;
    font-size:.75rem;
    color:#666;
    display:block
}
.b_btns .b_fixed {
    position:fixed;
    bottom:0;
    left:0;
    right:0;
    background:#fff;
    height:2.575rem;
    padding-top:.675rem
}
.b_btns a {
    height:1.95rem;
    line-height:1.95rem;
    text-align:center;
    font-size:.75rem
}
.b_btns i,.b_btns span {
    display:inline-block;
    vertical-align:middle
}
.b_btns .focus {
    border:1px solid #cfcfcf;
    border-radius:.05rem;
    margin-right:.5rem;
    margin-left:.5rem
}
.b_btns .focus i {
    background:url(../images/i_focus.png) no-repeat;
    background-size:.975rem .925rem;
    width:.975rem;
    height:.925rem;
    display:inline-block;
    margin-right:.5rem
}
.b_btns .bb_reply {
    border:1px solid #7cb228;
    border-radius:.05rem;
    background:#7cb228;
    color:#fff;
    margin-right:.5rem
}
.b_btns .bb_reply i {
    background:url(../images/i_edit.png) no-repeat;
    background-size:.825rem .825rem;
    width:.825rem;
    height:.825rem;
    display:inline-block;
    margin-right:.325rem
}
.set_top {
    background:#e5e5e5
}
.set_top .det_info .specials .pro_comment .pro {
    background:#fff
}
.set_top .det_info .comment_box {
    background:#fff
}
.set_top .det_info .comment_box .box.set_top_reply {
    background:#cfcfcf
}
.set_top .det_info .comment_box .mycomment_box {
    border-bottom:.375rem solid #e5e5e5
}
.set_top .det_info .comment_box .jiao {
    border-bottom:.375rem solid #fff
}
.set_top .det_info .comment_box .jiao.set_top_jiao {
    border-bottom:.375rem solid #cfcfcf
}
.reply_list .reply_tit {
    font-size:.75rem;
    color:#666;
    height:2rem;
    line-height:2rem;
    padding-left:.5rem;
    background:#fff
}
.qa_det_box .det_info .specials .pro_comment .down,.qa_det_box .det_info .specials .pro_comment .up {
    background:#7cb228;
    color:#2f4e00
}
.reply_list .no_answer {
    padding:1rem 0 4rem;
    background:#fff;
    text-align:center;
    font-size:.9rem;
    color:#666;
    border-top:1px solid #e5e5e5
}
.reply_list .no_answer i {
    width:1.95rem;
    height:2.1rem;
    display:inline-block;
    background:url(../images/no_answer.png) no-repeat;
    background-size:1.95rem 2.1rem
}
.reply_list .no_answer p {
    line-height:1.35rem
}
.reply_list .no_answer p span {
    display:block;
    font-size:.75rem
}
.submit_success {
    text-align:center;
    padding:30px
}
.submit_success .tit {
    color:#333;
    font-size:20px;
    font-weight:400;
    margin-top:30px
}
.submit_success .tit i {
    width:40px;
    height:30px;
    background:url(../images/icon_b.png) no-repeat;
    background-size:40px;
    display:inline-block;
    vertical-align:middle;
    margin-right:10px
}
.submit_success .tips {
    line-height:20px;
    color:#999;
    font-size:14px;
    margin-top:16px
}
.submit_success .tips span {
    color:#282828
}
.submit_success .btn {
    width:180px;
    height:48px;
    line-height:48px;
    background:#7cb228;
    border-radius:2px;
    color:#fff;
    font-size:18px;
    text-align:center;
    display:inline-block;
    margin-top:58px
}
.submit_success .countdown {
    color:#999;
    font-size:14px;
    margin-top:10px
}
.wd_create_quesion {
    padding-bottom:1rem;
    margin:0 .5rem
}
.wd_create_quesion .tag {
    height:1.5rem;
    line-height:1.5rem;
    overflow:hidden
}
.wd_create_quesion .tag b {
    float:left;
    font-size:.75rem;
    color:#333;
    font-weight:400
}
.wd_create_quesion .tag span {
    float:right;
    font-size:.5rem;
    color:#999
}
.wd_create_quesion .tag b span {
    float:none;
    font-size:.6rem
}
.wd_create_quesion .inbox {
    position:relative;
    padding-bottom:1.25rem
}
.wd_create_quesion .inbox .in {
    height:.7rem;
    line-height:.7rem;
    font-size:.5rem;
    border:1px solid #cfcfcf;
    border-radius:.25rem;
    padding:.4rem .5rem;
    display:block
}
.wd_create_quesion .inbox div.in {
    height:auto
}
.wd_create_quesion .inbox textarea.in {
    height:3rem;
    border:0;
    padding:0
}
.wd_create_quesion .inbox .in:disabled {
    background:#cfcfcf
}
.wd_create_quesion .inbox .info {
    position:absolute;
    z-index:1;
    right:0;
    bottom:.3rem;
    line-height:1rem;
    font-size:.5rem;
    color:#999
}
.wd_create_quesion .inbox .info .error {
    color:#de4343
}
.wd_create_quesion .inbox .info .correct {
    color:#7cb228
}
.wd_create_quesion .stag {
    overflow:hidden
}
.wd_create_quesion .stag ul {
    margin:0 0 0 -.5rem
}
.wd_create_quesion .stag ul li {
    float:left;
    height:1rem;
    line-height:1rem;
    font-size:.6rem;
    color:#333;
    background:url(../images/ico_right_1.png) no-repeat .35rem center;
    background-size:.575rem;
    border:1px solid #cfcfcf;
    border-radius:.25rem;
    padding:0 .4rem 0 1.15rem;
    margin:0 0 .6rem .5rem;
    overflow:hidden
}
.wd_create_quesion .stag ul.notselect li {
    color:#999;
    background-color:#cfcfcf;
    background-image:url(../images/ico_right_3.png);
    border-color:#cfcfcf
}
.wd_create_quesion .stag ul li.cur {
    color:#fff;
    background-color:#7cb228;
    background-image:url(../images/ico_right_2.png);
    border-color:#7cb228
}
.wd_create_quesion .inbox.companyinbox {
    padding-bottom:0
}
.wd_create_quesion .ntag {
    display:none
}
.wd_create_quesion .ntag li {
    float:left;
    position:relative;
    height:1rem;
    line-height:1rem;
    font-size:.5rem;
    color:#7cb228;
    border:1px solid #7cb228;
    border-radius:.1rem;
    padding:0 .85rem 0 .35rem;
    margin:.3rem .5rem 0 0
}
.wd_create_quesion .ntag li i {
    position:absolute;
    z-index:1;
    right:0;
    top:0;
    width:.9rem;
    height:1rem;
    background:url(../images/ico_close.png) no-repeat center center;
    background-size:.325rem
}
.wd_create_quesion .companylist {
    border:1px solid #cfcfcf;
    border-radius:.25rem;
    padding:.3rem 0;
    display:none
}
.wd_create_quesion .companylist a {
    line-height:1.1rem;
    font-size:.6rem;
    color:#333;
    padding:0 .5rem;
    display:block
}
.wd_create_quesion .companylist a i {
    color:#7cb228
}
.wd_create_quesion .btns {
    position:relative;
    height:2rem;
    margin-top:1rem
}
.wd_create_quesion .btns label {
    float:left;
    height:.85rem;
    margin-top:.575rem
}
.wd_create_quesion .btns label input {
    vertical-align:middle;
    display:none
}
.wd_create_quesion .btns label i {
    width:.85rem;
    height:.85rem;
    background:url(../images/checkbox_default.png) no-repeat;
    background-size:contain;
    display:inline-block;
    vertical-align:middle
}
.wd_create_quesion .btns label input:checked+i {
    background-image:url(../images/checkbox_checked.png)
}
.wd_create_quesion .btns label span {
    height:.85rem;
    line-height:.85rem;
    font-size:.6rem;
    color:#333;
    vertical-align:middle;
    margin-left:.4rem
}
.wd_create_quesion .btns .btn {
    position:absolute;
    z-index:1;
    left:50%;
    top:0;
    width:7.5rem;
    height:2rem;
    line-height:2rem;
    font-size:.75rem;
    text-align:center;
    color:#fff;
    border-radius:.2rem;
    display:block;
    margin-left:-3.75rem
}
.wd_create_quesion .btns .btn_disabled {
    background:#999
}
.wd_create_quesion .btns .btn_sending {
    background:#f38100
}
.wd_create_quesion .btns .btn_submit {
    background:#f38100
}
body,body .br_main {
    background:#e5e5e5
}
.wd_reply_form_page,.wd_reply_form_page .br_main {
    background:#fff
}
.wd_reply_form_page .wd_reply_form {
    padding:.5rem 0
}
.p1 {
    background:#fff;
    padding-top:.5rem
}
.p2 {
    margin-top:.5rem
}
.br_head a {
    color:#fff
}
#del .agree_box,#pro_obj .agree_box {
    width:11.5rem
}
.ask {
    position:fixed;
    bottom:0;
    padding:.5rem;
    background:#fff;
    right:0;
    left:0
}
.ask a {
    display:block;
    height:2rem;
    line-height:2rem;
    text-align:center;
    color:#fff;
    background:#7bb413;
    font-size:.75rem
}
.ask a em {
    font-size:.9rem;
    margin-right:.3rem
}
.br_head {
    background:#292E3A;
}
.topic-container {
    background:#fff;
    border-bottom:1px solid #f5f8f9
}
.topic-swiper {
    overflow:hidden;
    box-sizing:border-box;
    width:100%;
    position:relative;
    top:0;
    left:0
}
.topic-swiper .swiper-container {
    overflow-x:hidden
}
.topic-swiper .swiper-container .swiper-wrapper {
    padding:.8rem 0;
    width:86.5rem
}
.topic-swiper .swiper-slide {
    padding:1.2rem .8rem .8rem;
    margin-right:.6rem;
    display:inline-block;
    box-sizing:border-box;
    width:14.35rem;
    border-radius:.5rem;
    background:#fff;
    box-shadow:0 3px 6px 0 rgba(0,0,0,.1);
    border-radius:4px
}
.topic-swiper .swiper-slide .info-wrap {
    height:100%
}
.topic-swiper .tag {
    position:absolute;
    top:0;
    left:0;
    padding:3px 8px;
    border-radius:4px 0 4px 0;
    font-size:11px;
    color:#fff;
    font-weight:700
}
.topic-swiper .new {
    background-image:linear-gradient(90deg,#fb9040 6%,#fa594a 98%)
}
.topic-swiper .discuss {
    background-image:linear-gradient(90deg,#0fcc61 0,#0ab76d 100%)
}
.topic-swiper .profile {
    display:flex
}
.topic-swiper .left {
    flex:1;
    margin-right:.5rem
}
.topic-swiper .title {
    font-size:18px;
    color:#474747;
    font-weight:700
}
.topic-swiper .desc {
    margin-top:4px;
    font-size:14px;
    color:#7b7b7b;
    line-height:22px;
    display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:2;
    overflow:hidden
}
.topic-swiper .profile img {
    width:87px;
    height:80px
}
.topic-swiper .user {
    display:flex;
    margin-top:12px
}
.topic-swiper .user-list {
    flex:1
}
.topic-swiper .user img {
    width:30px;
    height:30px;
    margin-right:5px;
    border-radius:50%;
    vertical-align:middle
}
.topic-swiper .user-list .more {
    display:inline-block;
    width:.7rem;
    height:.15rem;
    margin-left:.25rem;
    margin-top:.3rem;
    background:url(../images/i-point.png) no-repeat;
    background-size:100%;
    vertical-align:text-top;
}
.topic-swiper .user .explain {
    margin-top:6px;
    font-size:12px;
    color:#aaa;
}
.ask {
    position:fixed;
    bottom:0;
    padding:.5rem;
    background:#fff;
    right:0;
    left:0;
}
.ask a {
    display:block;
    height:2rem;
    line-height:2rem;
    text-align:center;
    color:#fff;
    background:#292E3A;
    font-size:.75rem;
    border-radius:4px;
}
.ask a em {
    font-size:.9rem;
    margin-right:.3rem;
}